sqlalchemy
asyncpg
psycopg
psycopg2-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
fastapi
uvicorn
pika
email-validator
python-multipart
requests
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
pytest
pytest-asyncio
httpx
